*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page
{
    height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 90px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
	list-style-type:none;
	

}
nav ul 
{
    display: block;
    list-style-type: none;
	margin:0;
	padding: 0;
	overflow:hidden;
	float:right;
}
nav ul li
{
    display: inline-block;
    margin-right: 50px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 23px;
    color: black;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color:black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 38px;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.5);
	padding:20px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background:#00ffcc;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: rgba(0,0,0,0.6);
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #00ffcc;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:white;
	font-size:15px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
	
}
#login input
{
	color:white;
	font-size: 19;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 19;
}
footer p{
	padding:-300px;
	font-size: 0.8em;
	color:black;
	margin: 0;
	font-size: 1rem;
}
footer ul{
	list-style: none;
	display: flex;
	margin: 30px;
}
footer ul li a{
	padding: 30px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.904);
	transition: 100ms;
}
footer ul il a:hover{
	 color: var(--primary):
}
footer{
	width: 100%;
	background: #00ffcc;
	color: #fff;
	display: grid;
	place-items: center;
	padding: 20px;
	font-size: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
header{
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
}
header .brand{
	color:#fff;
	font-size: 2.0em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}
header .navigation{
	position: relative;
}
header .navigation .navigation-items a{
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3 ease;
}
header .navigation .navigation-items a:before{
	content: '';
	position: absolute;
	background: #000;
	width: 0px;
	height: 3px;
	bottom:	0px;
	left: 0px;
}
header .navigation .navigation-items a:hover:before{
	width: 100%;
}
section{
	padding: 100px 200px;
}
.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #2696E9;
}
.home:before{
	z-index: 777;
	content: '';
	position: absolute;
	background: rgba(3, 96, 251, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.home .content{
	z-index: 888;
	color: #fff;
	width: 70%;
	margin-top: 50px;
}
.home .content h1{
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px
	margin-bottom: 40px;		
}
.home .content h1 span{
	font-size: 1.2em;
	font-weight: 600;
}
.home .media-icons{
	z-index: 888;
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	transition: 0.5s ease;
}
.home .media-icons a{
	color: #fff;
	font-size: 1.6em;
	transition: 0.3s ease;
}
.home .media-icons a:not(:last-child){
	margin-bottom: 20px;
}
.home .media-icons a:hover{
	transform: scale(1.3);
}
.home video{
	z-index: 000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: 1040px){
	header{
		padding: 12px 20px;
	}
	section{
		padding: 100px 20px;
	}
	.home .media-icons{
		right: 15px;
	}
	header .navigation{
	display: none;
	}
	header .navigation.active{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1, 1, 1, 0.5); 
	}
	header .navigation .navigation-items a{
		color: #222;
		font-size: 1.2em;
		margin: 20px;
	}
	header .navigation .navigation-items a:before{
		background: #222;
		height: 5px;
	}
	header .navigation.active .navigation-items{
		background: #fff;
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
	}

	.menu-btn{
	background: url(menu.png)no-repeat;
	background-size: 30px;
	background-position: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s ease;
	}
	.menu-btn.active{
		z-index: 999;
		background: url(close.png)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: 0.3s ease;
	}
}
.logo img{
	float:left;
	width:100px;
	height:auto;
}
section{
	padding: 100px 200px;
}